.post-bubbles {
  color: white;
  border-style: none;
  border-radius: 1em;
  border: solid 2px white;
  background-color: transparent;
  position: relative;
  top: -10px;
  left: 4px;
  font-size: 17px;
  height: 32px;
}

.comment-text {
  color: white;
  border: none;
  overflow: hidden;
  outline: none;
  resize: both;
  border: solid 2px white;
  background-color: transparent;
  border-radius: 1em;
  padding-left: 10px;
  height: 2em;
  width: 75%;
}

.comment-text [contenteditable]:empty::before {
  content: "Placeholder still possible";
  color: gray;
}
