.post-bubbles {
  color: white;
  border-style: none;
  border-radius: 1em;
  border: solid 2px rgb(0, 0, 0);
  background-color: rgb(20, 140, 220);
  position: relative;
  top: -10px;
  left: 4px;
  font-size: 17px;
  height: 32px;
}

.comment-text {
  color: white;
  border: none;
  overflow: hidden;
  outline: none;
  resize: both;
  border: solid 2px rgb(58, 58, 58);
  background-color: black;
  border-radius: 1em;
  padding-left: 10px;
  height: 5em;
  width: 75%;
}

.comment-text [contenteditable]:empty::before {
  content: "Placeholder still possible";
  color: gray;
}
