body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.loginDiv {
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  width: 250px;
  margin-bottom: 80px;
}

#helloText {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 15px;
}

.adminDiv {
  margin-top: 20px;
  margin-bottom: 20px;
}

.adminRow {
  justify-content: center;
  position: relative;
  left: -36px;
}

@media (max-width: 575.98px) {
  .adminRow {
    margin-right: 40px;
    position: relative;
    left: 0px;
  }
}

.btn.adminButton {
  width: 70px;
  height: 68px;
  font-size: 12px;
  padding: 10px;
  border-radius: 40px;
  border-width: 2px;
  border-color: rgb(0, 0, 0);
  background-color: rgb(82, 82, 82);
}

@media (max-width: 575.98px) {
  .btn.adminButton {
    width: 60px;
    height: 60px;
    font-size: 10px;
    padding: 10px;
    border-radius: 40px;
    border-width: 2px;
    border-color: rgb(0, 0, 0);
    background-color: rgb(82, 82, 82);
  }
}

.buttonCol {
  text-align: center;
}

@media (max-width: 575.98px) {
  .buttonCol {
    margin-right: 40px;
    left: -13px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .buttonCol {
    margin-right: 35px;
    right: -30px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .buttonCol {
    margin-right: 15px;
    right: -33px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .buttonCol {
    margin-right: 5px;
    right: -33px;
  }
}

@media (min-width: 1200px) {
  .buttonCol {
    margin-right: -20px;
    right: -33px;
  }
}

.buttonText1 {
  position: relative;
  font-weight: 600;
  top: -6px;
}

.buttonText2 {
  position: relative;
  font-weight: 600;
  top: -2px;
}
