.comment-header {
  display: flex;
}

.commentDiv {
  margin-left: 20px;
}

.like-button {
  margin-left: auto;
  margin-right: 1em;
  color: white;
  border-style: none;
  border-radius: 1em;
  border: solid 2px white;
  background-color: transparent;
  margin-bottom: -10px;
}
