.comment-header {
  /* display: flex; */
}

.commentDiv {
  margin-left: 20px;

}

.comment-date {
  margin-left: 1em;
  font-size: 0.75em;
  margin-top: -0.5em;
}

.like-button {
  margin-left: auto;
  margin-right: 10px;
  color: white;
  border-style: none;
  border-radius: 1em;
  border: solid 2px white;
  background-color: transparent;
  margin-bottom: -10px;
}
