#createUserDiv {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;

}

.newUserForm {
  border:solid 2px rgb(89, 171, 173);
padding: 2em;
border-radius: 5px;
}

#createUserInput {
  margin-left: 1em;
  margin-right: auto;
}

#adminSubmit {
  margin-left: auto;
  margin-right: auto;
}

#checkBoxButton {
  width: 20px;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
}

#createUserAdminInput {
  margin-left: auto;
  margin-right: auto;
}
