#timeContainer {
  margin-top: 20px;
}

#timeHeader {
  background-color: gray;
  font-size: 24px;
}

#timeBankDiv {
  margin-top: 40px;
  background-color: lightgray;
  font-size: 20px;
}

#displayTimeDiv {
  margin-top: 40px;
}

.form {
  font-size: large;
  font-weight: bold;
  /* position: absolute; */
}

.formbtn {
  display: flex;
  justify-content: center;
}

#exampleFile {
  width: 5px;
}
