#timeContainer {
  margin-top: 20px;
}

#timeHeader {
  background-color: gray;
  font-size: 24px;
}

#timeBankDiv {
  margin-top: 40px;
  background-color: lightgray;
  font-size: 20px;
}

#displayTimeDiv {
  margin-top: 40px;
}

.form {
  font-size: large;
  font-weight: bold;
  /* position: absolute; */
}

.jumbotron {
  width: auto;
  padding: 10px;
}

.formbtn {
  display: flex;
  justify-content: center;
}

#exampleFile {
  /* width: 5px; */
  font-size: 15px;
}

#submit {
  padding: 10px;
  margin: 10px;
}