/* .footer {
  min-height: auto;
  background: gray;
  position: relative;
  margin-top: 20px;
} */

.footer span {
  margin-top: 10px;
  padding: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: gray;
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
}
