.new-post {
  margin-top: 20px;
}

.post-form {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

#postTitle {
  color: rgb(255, 255, 255);
  border: none;
  border: solid 2px rgb(58, 58, 58);
  background-color: black;
  border-radius: 1em;
  padding-left: 10px;
  width: 75%;
}

#postContent {
  color: white;
  border: none;
  overflow: hidden;
  outline: none;
  resize: both;
  border: solid 2px rgb(58, 58, 58);
  background-color: black;
  border-radius: 1em;
  padding-left: 10px;
  height: 5em;
  width: 75%;
}

.postButton {
  color: white;
  border-style: none;
  border-radius: 1em;
  border: solid 2px rgb(0, 0, 0);
  background-color: rgb(20, 140, 220);
}

.newPostText {
  color: white;
  font-weight: 600;
}

.newPostText2 {
  color: white;
  font-weight: 600;
  margin-top: 20px;
}
