
#draggable {
    width: 100px;
    height: 20px;
    text-align: center;
    background: white;
  }
  
  .dropzone {
    width: 100px;
    height: 150px;
    background: rgb(89, 171, 173);
    margin-bottom: 10px;
    padding: 10px;
  }
  #calendar {
    max-width: 900px;
    margin: 0 auto;
  }
  
  .fc fc-media-screen fc-direction-ltr fc-theme-standard{
   
  }