
#draggable {
    width: 100px;
    height: 20px;
    text-align: center;
    background: white;
  }
  
  .dropzone {
    width: 100px;
    height: 150px;
    background: rgb(89, 171, 173);
    margin-bottom: 10px;
    padding: 10px;
  }
  #calendar {
   width: 500em;
    margin: 0 auto;
  }

  .myCalendar{
    width:100em;
  }
  
 .fc {
   width: 500em;
 }