
#draggable {
    width: 100px;
    height: 20px;
    text-align: center;
    background: white;
  }
  
  .dropzone {
    width: 100px;
    height: 150px;
    background: rgb(89, 171, 173);
    margin-bottom: 10px;
    padding: 10px;
  }
  #calendar {
   width: 500em;
    margin: 0 auto;
  }

  .myCalendar{
    width:100em;
  }
  /* #calendar {
    max-width: 900px;
    margin: 0 auto;
  } */
  
 .fc {
   width: 300em;
 }

 #submit {
   margin: auto;
   padding: 10px;
   background-color: rgb(89, 171, 173);
   align-content: center;
 }

#title {
  margin: 10px;
  padding: 10px;
}

#event {
  margin: 10px;
  padding: 10px;
}

#box {
  /* margin: 10px; */
  padding: 10px;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  margin: auto;
}

.submitButton {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}

.newEventButton {
  width: 16.55em;
  border-style: none;
  border: solid 2px black;
  border-radius: 5px;
  background-color: transparent;
  color: black;
}