.emp-card {
    background-color: transparent;
    border: solid 2px black;
    margin-bottom: 1em;
    border-radius: 2em;
    background-color: rgb(89, 171, 173);
}

h1 .emp-card {
    text-align: center;
}