.mynav {
  background-color: rgb(89, 171, 173);
}

.logo {
  margin-right: 10px;
  -webkit-filter: invert(100%); /* safari 6.0 - 9.0 */
  filter: invert(100%);
}

#appName {
  font-size: 54px;
  font-family: "Shadows Into Light", cursive;
}

.navbar-nav {
  margin-left: auto;
}

.nav-link {
  margin-right: 10px;
}

.btn-circle.btn-sm {
  width: 80px;
  height: 80px;
  padding: 6px 0px;
  border-radius: 40px;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  color: white;
  border-width: 2px;
  border-color: rgb(0, 0, 0);
  background-color: rgb(136, 182, 180);
}
